<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Account</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center" *ngIf="isLogged === 'unknown'">
    <ion-spinner></ion-spinner>
  </div>
  <app-user *ngIf="isLogged === 'logged'" [mangas]="mangas"></app-user>
  <app-notlogged *ngIf="isLogged === 'notLogged'"></app-notlogged>
</ion-content>
