<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="home/search"
        (click)="onExit()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Manga viewer</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/comment', chapterID]" (click)="onExit()">
        <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="showReadingModes()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="share()">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper class="center" #swiper [config]="config" [dir]="rtl ? 'rtl' : ''">
    <ng-template swiperSlide *ngFor="let page of pages">
      <img [src]="page.secure_url" loading="lazy" />
    </ng-template>
  </swiper>
</ion-content>
