<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/account"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isLoading"> Loading... </ion-title>
    <ion-title *ngIf="!isLoading">{{ manga.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<div class="center" *ngIf="isLoading">
  <ion-spinner></ion-spinner>
</div>

<ion-content *ngIf="!isLoading">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-avatar slot="start" style="width: 17vmax; height: 17vmax">
                <img [src]="manga.cover" />
              </ion-avatar>
              <ion-label class="ion-margin" text-wrap>
                <h2 style="margin-block: 1vmax; font-size: 2.5vmax">
                  {{ manga.name }}
                </h2>
                <ion-text color="secondary">
                  <h3 style="margin-block: 0.7vmax">{{ manga.author }}</h3>
                </ion-text>
                <ion-text color="tertiary">
                  <p>{{ manga.status }}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <app-chapter-list [chapters]="manga.chapters"></app-chapter-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-add-chapter
    *ngIf="manga.uploadedBy === username"
    [mangaID]="manga.id"
  ></app-add-chapter>
</ion-content>
