<form (submit)="onSubmit()" #chapterForm>
  <ion-item>
    <ion-label position="stacked">Chapter pages</ion-label>
    <ion-input
      required="true"
      type="file"
      multiple="true"
      name="pages"
      id="pages"
    ></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top ion-margin-bottom">
    <ion-label position="floating">Title</ion-label>
    <ion-input
      required="true"
      type="text"
      name="title"
      id="title"
      [(ngModel)]="name"
    ></ion-input>
  </ion-item>
  <ion-button type="submit" fill="solid" expand="block">Upload</ion-button>
</form>
