<form (submit)="onSubmit()" #chapterForm>
  <ion-item style="margin-bottom: 6vmax;">
    <ion-label position="stacked">Chapter pages</ion-label>
    <ion-input
      required
      type="file"
      multiple="true"
      name="pages"
      id="pages"
    ></ion-input>
  </ion-item>
  <ion-item style="margin-block: 6vmax;">
    <ion-label position="floating">Title</ion-label>
    <ion-input
      type="text"
      name="title"
      id="title"
      required="true"
      [(ngModel)]="name"
    ></ion-input>
  </ion-item>
  <ion-item style="margin-block: 6vmax;">
    <ion-label>Published Date</ion-label>
    <ion-datetime
      display-format="MMM, DD, YYYY"
      placeholder="Select Date"
      name="date"
      id="date"
      [(ngModel)]="date"
    ></ion-datetime>
  </ion-item>
  <ion-button type="submit" fill="solid" expand="block" shape="round" style="margin-top: 6vmax;">
    <ion-icon slot="start" name="arrow-up-circle"></ion-icon>
    Upload
  </ion-button>
</form>
