<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Search</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search Mangas"
      (ionChange)="onSearchChange()"
      [(ngModel)]="searchValue"
      showClearButton="true"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <app-manga-list *ngIf="!isLoading && mangas?.length" [mangas]="mangas">
  </app-manga-list>
</ion-content>
