<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Manga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding">

    <ion-row>
      <ion-col>

        <ion-card color="light">
          <ion-card-content class="ion-padding">
            <ion-item class="ion-margin" color="light">
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item class="ion-margin" color="light">
              <ion-label position="floating">Author</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item class="ion-margin" color="light">
              <ion-label>Published Date</ion-label>
              <ion-datetime display-format="MMM DD, YYYY" placeholder="Select Date"></ion-datetime>
            </ion-item>
            <ion-item class="ion-margin" color="light">
              <ion-label>Status</ion-label>
              <ion-select value="manga_status" placeholder="Select Status">
                <ion-select-option value="on-going">On going</ion-select-option>
                <ion-select-option value="completed">Completed</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="ion-margin" color="light">
              <ion-label position="floating">Description</ion-label>
              <ion-textarea></ion-textarea>
            </ion-item>

            <ion-grid fixed>
              <ion-row class="ion-margin">
                <ion-col size="8"></ion-col>
                <ion-col size="4">
                  <ion-button>
                    <ion-icon name="add" slot="start"></ion-icon>
                    Upload
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
