<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="manga-view"></ion-back-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-comment-list [comments]="comments" (onSubmitResponse)="submitResponse()"></app-comment-list>
</ion-content>

<ion-footer style="margin-left: 1vmax;">
  <app-comment-form (onSubmitComment)="submitComment($event)" [showForm]="true"></app-comment-form>
</ion-footer>
