<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-avatar slot="start" style="width: 17vmax; height: 17vmax;">
                <img [src]="cover"/>
              </ion-avatar>
              <ion-label class="ion-margin" text-wrap>
                <h2 style="margin-block: 1vmax; font-size: 2.5vmax;">{{ name }}</h2>
                <ion-text color="secondary">
                  <h3 style="margin-block: 0.7vmax;">{{ author }}</h3>
                </ion-text>
                <ion-text color="tertiary">
                  <p>{{ status }}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
