<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-login-form (newLoginEvent)="loginUser($event)"></app-login-form>
  <ion-text color="danger" class="center">
    <p *ngIf="isError">Incorrect username or password</p>
  </ion-text>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="center">
      Doesn't have an account?
      <a [routerLink]="['/signup']">Signup</a>
    </p>
  </ion-toolbar>
</ion-footer>
