<ion-card class="ion-text-right ion-no-padding">
  <ion-card-content>
    <ion-grid fixed class="ion-no-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col
          size="7"
          class="
            ion-no-margin
            ion-no-padding
            ion-justify-content-center
            ion-align-items-center
          "
        >
        </ion-col>
        <ion-col size="5" class="ion-no-margin ion-no-padding">
          <ion-grid fixed class="ion-no-margin">
            <ion-row class="ion-no-margin">
              <ion-col>
                <ion-card-title color="primary">
                  <strong>{{ user?.username }}</strong>
                </ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin">
              <ion-col>
                <ion-card-subtitle color="tertiary">{{ user?.fullName }}</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
