<ion-card>
  <ion-card-content>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col
          size="6"
          class="
            ion-no-margin
            ion-no-padding
            ion-justify-content-center
            ion-align-items-center
          "
        >
          <img
            src="../../../../assets/icon/person-circle.svg"
            alt=""
            style="width: 25vmax"
          />
        </ion-col>
        <ion-col size="6" class="ion-no-margin ion-no-padding">
          <ion-grid fixed class="ion-no-margin">
            <ion-row class="ion-no-margin">
              <ion-col>
                <ion-card-title color="primary">
                  <strong>{{ user?.username }}</strong>
                </ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin">
              <ion-col>
                <ion-text color="tertiary">
                  <p>{{ user?.fullName }}</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
