<ion-item-group style="margin-left: 3vmax;" class="ion-margin-vertical">
  <ion-item-divider class="ion-no-margin" color="light" style="border-radius: 10px 10px 0px 0px;">
    <ion-label class="ion-no-margin">
      <ion-text>
        <p>
          <span style="color: grey; font-weight: bold; font-size: 1.6vmax;" class="ion-margin-end">{{ commentItem.parent.username }}</span>
          <span style="color: grey; font-size: 1.4vmax;">{{ commentItem.parent.text }}</span>
        </p>
      </ion-text>
    </ion-label>
  </ion-item-divider>

  <ion-item color="light" style="border-radius: 0px 0px 10px 10px;">
    <ion-icon slot="start" name="person-circle-outline" style="width: 4vmax; height: 4vmax;" class="ion-no-margin ion-margin-end">
    </ion-icon>
    <ion-label text-wrap (click)="presentPopover($event)">
      <ion-text>
        <p><span style="font-weight: bold; font-size: 2vmax;" class="ion-margin-end">{{ commentItem.username }}</span><span style="color: grey; font-size: 1.5vmax;">{{ commentItem.date }}</span></p>
      </ion-text>
      <ion-text class="ion-margin-top">
        <p style="font-size: 1.8;">{{ commentItem.text }}</p>
      </ion-text>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button color="{{ showResponseForm ? 'danger' : 'secondary'}}" (click)="onClick()" *ngIf="!showUpdateForm">
        <ion-icon name="{{ showResponseForm ? 'close-circle' : 'arrow-undo-circle'}}" style="width: 3.5vmax; height: 3.5vmax;"></ion-icon>
      </ion-button>
      <ion-button color="warning" *ngIf="showUpdateForm" (click)="onClose()">
        <ion-icon name="close-circle" style="width: 3.5vmax; height: 3.5vmax;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <app-comment-form [showForm]="showResponseForm" [margin_left]="'1vmax'" (onSubmitComment)="onSubmit($event)" ></app-comment-form>
  <app-comment-form [showForm]="showUpdateForm" [margin_left]="'1vmax'" (onSubmitComment)="onUpdate($event)" [text]="text"></app-comment-form>
</ion-item-group>

<app-comment-response (onSubmitResponse)="submitResponse()" *ngFor="let comment of commentItem.children" [commentItem]="comment"></app-comment-response>
